{% extends 'base.html' %} 
 
{% block content %} 
  
<div class="card mt-5">
   <div class="card-body bg-secondary">
      <div class="mt-5">
         <form method="post" class="form-group">
            {%csrf_token%}
            {{form.as_p}}
      
            <div class="pt-2">
               <strong> You don't have an account! <a href="{% url 'auth_register' %}">  Register  </strong>
            </div>
      
            <button class="btn btn-primary mt-3" type="submit">Login</button>
         </form>
      </div>
   </div>
</div>
 
{% endblock %}