<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    {% load bootstrap5 %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}

    {% load static %}


    <style>

       body{

            font-family: cairo;
            

        }


    </style>

      

    

</head>

<body>

    <header>

       <!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">

    <!-- Container wrapper -->

    <div class="container-fluid">

      <!-- Toggle button -->

      <button

        data-mdb-collapse-init

        class="navbar-toggler"

        type="button"

        data-mdb-target="#navbarSupportedContent"

        aria-controls="navbarSupportedContent"

        aria-expanded="false"

        aria-label="Toggle navigation"

      >

        <i class="fas fa-bars"></i>

      </button>

  

      <!-- Collapsible wrapper -->

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Navbar brand -->

       

        <!-- Left links -->

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
  
              <a class="nav-link" href="#">all products</a>
  
            </li>
            <li class="nav-item">
  
              <a class="nav-link" href="#">video games</a>
  
            </li>
  
            <li class="nav-item">
  
              <a class="nav-link" href="#">Fashion</a>
  
            </li>
            <li class="nav-item">
  
              <a class="nav-link" href="#">Cleaning Tools</a>
  
            </li>
            <li class="nav-item">
  
              <a class="nav-link" href="#">women clothes</a>
  
            </li>
            <li class="nav-item">
  
              <a class="nav-link" href="#">Children's clothing</a>
  
            </li>
            <li class="nav-item">
  
              <a class="nav-link" href="#">Mobile phones</a>
  
            </li>
  
            <li class="nav-item">
  
              <a class="nav-link" href="#">Men clothes</a>
  
            </li>
            <li class="nav-item">
  
              <a class="nav-link" href="#">Electrical Tools</a>
  
            </li>
            <li class="nav-item">
  
              <a class="nav-link" href="#">best seller</a>
  
            </li>
  

          <li class="nav-item">

            <a class="nav-link" href="#">

             

          </li>

        </ul>

        <!-- Left links -->

      </div>

      <!-- Collapsible wrapper -->

  

      <!-- Right elements -->

      <div class="d-flex align-items-center">

        <!-- Icon -->

        <a class="text-reset me-3" href="#">

          <i class="fas fa-shopping-cart"></i>

        </a>

  

        <!-- Notifications -->

        <div class="dropdown">

          

          {% if user.is_authenticated %}

          

           <table class="table table-borderless">

            <tr>

              <td>

                <span class="text-white "> Welcome {{ user.username }}</span>

              </td>

              <td class="pt-1">

                <form action="{%  url 'auth_logout' %}" method="post">

                  <button class="btn btn-link">logout</button>

                </form>

              </td>

              

              <td>

                <a

            data-mdb-dropdown-init

            class="dropdown-toggle d-flex align-items-center hidden-arrow"

            href="#"

            id="navbarDropdownMenuAvatar"

            role="button"

            aria-expanded="false"

          >

            <img

              src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"

              class="rounded-circle"

              height="25"

              alt="Black and White Portrait of a Man"

              loading="lazy"

            />

          </a>

              </td>

            </tr>

           </table>

         

          {% else %}

          <table class="table table-borderless">

            <tr>



              <td>

                <i class="bi bi-bag text-white"></i>

                <span class="badge rounded-pill badge-notification bg-danger">1</span>

              </td>

              <td>

                <p class="text-white"><a href="{% url 'auth_login' %}" style="text-decoration:none;"><span class="text-white">Login</span></a></p> 

              </td>

              <td>

                <p class="text-white"><a href="{% url 'auth_register' %}" style="text-decoration:none;"><span class="text-white">Register</span></a></p> 

              </td>

           

            </tr>

          </table>

        

         {% endif %}

        </div>

        <!-- Avatar -->

        

      </div>

      <!-- Right elements -->

    </div>

    <!-- Container wrapper -->

  </nav>

  <!-- Navbar -->

    </header>



    <main>

      <div class="container">

        <div class="row">

            <div class="col">

                {% block content %}

                {% endblock %}

            </div>

        </div>

      </div>

    </main>



    <footer>



    </footer>

</body>

</html>